.sta .wrap-grid {
    border: 1px solid #eaeaea;
}

.sta .wrap-grid div {
    clear: both;
}

.sta .wrap-grid td {
    height: 36px;
    border: 1px dotted #cccccc;
}

/*
顶部工具栏
*/
.sta .wrap-grid .topbar {
    padding: 5px 10px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 0px;
}

.sta .wrap-grid .wrap-grid-thead table.bg-bsBlue {
    background-color: #428bca;
}