.sta .show-view {
    display: block;
}

.sta .hidden-view {
    display: none;
}

.sta .wrap-grid {
    border: 1px solid #eaeaea;
    width: 100%;
}

.sta .wrap-grid div {
    clear: both;
}

.sta .wrap-grid td {
    height: 36px;
    border: 1px dotted #cccccc;
}

.sta .wrap-grid .wrap-grid-thead, .sta .wrap-grid .wrap-grid-tbody {
    width: 100%;
}

/*
顶部工具栏
*/
.sta .wrap-grid .topbar {
    padding: 5px 10px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 0px;
}

.sta .wrap-grid table thead th {
    height: 36px;
    border: 1px dotted #cccccc;
}

.sta .wrap-grid table thead th.bg-bsBlue {
    background-color: #428bca;
}